

<h1><%= @product.name %></h1>
<%= simple_format(@product.description) %>
<em><%= @product.price %></em>
<br />
<%= link_to "Product List", products_path %>
<%= link_to "Delete", @product, method: :delete %>

